
*.db-wal
.vs/UnrealJass2cppConverter/v17/.suo
*.db
*.lock
*.vsidx
*.opendb
*.db-shm
*.cache
*.tlog
*.ipdb
*.iobj
*.recipe
*.obj
*.log
*.txt
*.pdb
Jass2cppConverter/bin/Release/War3map.j
Jass2cppConverter/bin/Release/war3map.cpp
Jass2cppConverter/bin/Release/war3map.h
*.ipch
*.json
